.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
}

.homeSection {
    height: 75vh;
    width: 100%;
    background-color: white;
    margin-bottom: 5vh;
}

.sectionBackground {
    height: 75vh;
}