.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1rem;
    height: 7.5vh;
    width: 100vw;
    position: fixed;
    z-index: 9999;
    box-sizing: border-box;
  }
  
  .navbar-logo h1, .navbar-logo img {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navbar-links .nav-item {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
  }
  
  .nav-item:hover {
    text-decoration: underline;
  }
  