.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 2em;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%; /* Adjust as needed */
    margin-top: 20px;
}

.formLabel {
    margin-top: 10px;
}

.formInput, .formTextarea {
    margin-top: 5px;
}

.formButton {
    margin-top: 20px;
}